.margin-left30px{
    margin-left: 30px;
    margin-bottom: 15px;
}
.margin-5px{
    margin: 5px;
}
.margin-10px{
    margin: 10px;
}
.margin-15px{
    margin: 15px;
}

.my-margin{
    margin: 20px;
    margin-left: 270px;
}
.margin-bt10px{
    margin: 10px 0;
}
.margin-bt30px{
    margin: 30px 0;
}
.margin-bt100px{
    margin: 100px 0;
}
